#include <windows.h>
#include "resource.h"

IDI_APPICON ICON "../resources/app.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "cMemo\0"
            VALUE "FileDescription", "cMemo\0"
            VALUE "FileVersion", "1.0.0\0"
            VALUE "InternalName", "cMemo\0"
            VALUE "OriginalFilename", "cMemo.exe\0"
            VALUE "ProductName", "cMemo\0"
            VALUE "ProductVersion", "1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
